{% layout './templates/layouts/layout.liquid' %}

{% block head %}
<link rel='stylesheet' href='./theme.scss'>
<script type='module' src='./theme.js'></script>
{% endblock %}

{% block body_class %}theme{% endblock %}

{% block main %}
<main>
  <section class='hero py-80'>
    <div class='container'>
      <h1 class='display20 fw-700'>Theme</h1>
      <div class='display40'>Theme provided by <a class='link' href='#theme' data-modal='#theme'>theme.json</a></div>
    </div>
  </section>

  {% # theme %}
  <section class='theme__modal' id='theme'>
    <div class='theme__backdrop' data-modal='#theme'></div>
    <div class='container'>
      <code data-theme></code>
    </div>
    <button class='theme__close' data-modal='#theme'>
      <span>close</span>
    </button>
  </section>

  {% # colors %}
  <section class='theme py-64'>
    <div class='container'>
      <div class='theme__title'>Colors</div>
      <div class='theme__variants'>
        {% for kv in theme.color | entries %}
          {% assign key = kv[0] %}
          {% assign value = kv[1] %}
          <div class='theme__variant'>
            <div class='theme__name'>{{ key }}</div>
            <div class='theme__color'>
              {% for kkvv in value | entries %}
                {% assign value = kkvv[1] %}
                <div class='theme__block' style='background-color: {{value}};'>
                  {{ value }}
                </div>
              {% endfor %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>

  {% # typography %}
  <section class='theme py-64'>
    <div class='container'>
      <div class='theme__title'>Typography</div>
      <div class='theme__variants'>
        {% for kv in theme.typography | entries %}
          {% assign key = kv[0] %}
          {% assign value = kv[1] %}
          <div class='theme__variant'>
            <div class='theme__name'>{{ key }}</div>
            <div class='theme__font {{key}}'>
              {{ key }}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>

  {% # container %}
  <section class='theme py-64'>
    <div class='container'>
      <div class='theme__title'>Container</div>
    </div>
    <div class='theme__variants'>
      {% for kv in theme.container | entries %}
        {% assign key = kv[0] %}
        {% assign value = kv[1] %}
        <div class='theme__variant'>
          <div class='container'>
            <div class='theme__name'>{{ key }}</div>
          </div>
          {% if key == 'default' %}
            <div class='container'>
              <div class='theme__block'></div>
            </div>
          {% else %}
            <div class='container-{{key}}'>
              <div class='theme__block'></div>
            </div>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </section>

  {% # grid %}
  <section class='theme py-64'>
    <div class='container'>
      <div class='theme__title'>Grid</div>
      <div class='theme__variants'>
        {% for kv in theme.grid | entries %}
          {% assign key = kv[0] %}
          {% assign value = kv[1] %}
          <div class='theme__variant'>
            <div class='theme__name'>{{ key }}</div>
            <div class='grid'>
              <div class='grid-6 grid-md-6'>
                <div class='theme__block'>grid-md-6</div>
              </div>
              <div class='grid-6 grid-md-6'>
                <div class='theme__block'>grid-md-6</div>
              </div>
              <div class='grid-6 grid-md-4'>
                <div class='theme__block'>grid-md-4</div>
              </div>
              <div class='grid-6 grid-md-4'>
                <div class='theme__block'>grid-md-4</div>
              </div>
              <div class='grid-6 grid-md-4'>
                <div class='theme__block'>grid-md-4</div>
              </div>
              <div class='grid-6 grid-md-3'>
                <div class='theme__block'>grid-md-3</div>
              </div>
              <div class='grid-6 grid-md-3'>
                <div class='theme__block'>grid-md-3</div>
              </div>
              <div class='grid-6 grid-md-3'>
                <div class='theme__block'>grid-md-3</div>
              </div>
              <div class='grid-6 grid-md-3'>
                <div class='theme__block'>grid-md-3</div>
              </div>
              <div class='grid-6 grid-md-2'>
                <div class='theme__block'>grid-md-2</div>
              </div>
              <div class='grid-6 grid-md-2'>
                <div class='theme__block'>grid-md-2</div>
              </div>
              <div class='grid-6 grid-md-2'>
                <div class='theme__block'>grid-md-2</div>
              </div>
              <div class='grid-6 grid-md-2'>
                <div class='theme__block'>grid-md-2</div>
              </div>
              <div class='grid-6 grid-md-2'>
                <div class='theme__block'>grid-md-2</div>
              </div>
              <div class='grid-md-2'>
                <div class='theme__block'>grid-md-2</div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>

  {% # padding %}
  <section class='theme py-64'>
    <div class='container'>
      <div class='theme__title'>Padding</div>
      <div class='theme__variants'>
        <div class='theme__variant'>
          <div class='theme__name'>padding</div>
          {% assign keys = 'pt,pr,pb,pl,py,px,p' | split: ',' %}
          {% for key in keys %}
            <div class='theme__list theme__list--center'>
              {% assign sizes = '4,8,12,16,24,32,40,48,64,80,96,128,160' | split: ',' %}
              {% for size in sizes %}
                <div class='theme__padding {{key}}-{{size}}'>{{ key }}-{{ size }}</div>
              {% endfor %}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>

  {% # margin %}
  <section class='theme py-64'>
    <div class='container'>
      <div class='theme__title'>Margin</div>
      <div class='theme__variants'>
        <div class='theme__variant'>
          <div class='theme__name'>margin</div>
          {% assign keys = 'mt,mr,mb,ml,my,mx,m' | split: ',' %}
          {% for key in keys %}
            <div class='theme__list theme__list--center'>
              {% assign sizes = '4,8,12,16,24,32,40,48,64,80,96,128,160' | split: ',' %}
              {% for size in sizes %}
                <div class='theme__margin'>
                  <div class='{{key}}-{{size}}'>{{ key }}-{{ size }}</div>
                </div>
              {% endfor %}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}
