<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-Language" content="{{ layout.locale }}">
<meta name="viewport" content="width=device-width" />
<meta name="color-scheme" content="light dark">
{# title #}
<title>{{ page.meta and page.meta.title ? page.meta.title : page.title }}</title>
{# description #}
<meta name="description" content="{{ page.meta and page.meta.description ? page.meta.description : page.abstract }}" />
{# keywords #}
{#
<meta name="keywords" content={page.meta?.keywords} />
#}
{# robots #}
{% if production %}
<meta name="robots" content="{{ page.meta and page.meta.robots ? page.meta.robots : 'index, follow' }}" />
{% else %}
<meta name="robots" content="noindex, nofollow" />
{% endif %}
{# canonical #}
{% if page.href %}
<link rel="canonical" href="%VITE_ORIGIN%{{page.href}}" />
{% endif %}
{# alternates #}
{% if page.alternates %}
{% for alternate in page.alternates %}
<link rel="alternate" href="%VITE_ORIGIN%{{alternate.id}}" hrefLang="{{alternate.locale}}" />
{% endfor %}
{% endif %}
{# social media #}
{% if page.media %}
<meta property="og:image" content="%VITE_ORIGIN%{{page.media.src}}" />}
{% endif %}
{# aspect #}
<meta name="msapplication-TileColor" content="#000000" />
<meta name="msapplication-config" content="/assets/browserconfig.xml" />
<meta name="theme-color" content="#000" />
<link rel="apple-touch-icon" sizes="180x180" href="/assets/img/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon-16x16.png" />
<link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico" />
<link rel="manifest" href="/assets/site.webmanifest" crossOrigin="use-credentials" />
<link rel="mask-icon" href="/assets/img/safari-pinned-tab.svg" color="#000000" />
{#
<link rel="alternate" type="application/rss+xml" href="/assets/feed.xml" />
#}
